@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    
}

.backgroundImg {
    background-image: url(photo/Rectangle.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: clamp(30px, 2vw, 100px);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: clamp(16px, 3vw, 32px);
}

.nav ul {
    display: none;
    list-style-type: none;
    gap: clamp(12px, 2vw, 32px);
    color: white;
    font-weight: 600;
    font-size: clamp(12px, 2vw, 20px);
}

.logo {
    height: clamp(32px, 3vw, 56px);
    width: auto;
}

.burger {
  display: flex;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.description {
    font-size: clamp(12px, 2vw, 20px);
  max-width: 800px;
  padding-top: clamp(30px, 7vw, 40px);
}


.description h1 {
  font-size: clamp(22px, 4vw, 40px);
  margin-bottom: clamp(16px, 3vw, 24px);
}


.description p {
  font-size: clamp(14px, 2vw, 20px);
  margin-bottom: clamp(24px, 4vw, 32px);
}

.container {
  max-width: 1200px;
 
  margin-inline: auto;
  padding-inline: clamp(30px, 4vw, 32px);
}

.chooseGreens {
    max-width: 200px;
    font-size: clamp(12px, 2vw, 16px);
    padding: clamp(7px, 1.5vw, 18px);
    padding-left: clamp(15px, 1.5vw, 35px);
    padding-right: clamp(15px, 1.5vw, 35px);
    border-radius: 40px;
    border: none;
    background-color: #50a354;
    color: white;
}

.chooseGreensActive{
    animation-duration: 1s;
    animation-name: btnActive;
}

  @keyframes btnActive {
    0% { transform: scale(1);
    background-color: #50a354; }
    50% { transform: scale(1.1);
     background-color: #39b840; }
    100% { transform: scale(1);
    background-color: #50a354; }
  }

@media (min-width: 1024px) {

    .burger {
        display: none;
    }

    .nav ul {
        display: flex;
    }
}